services:
  - type: web
    name: Forum_de_Discussion_ENT
    env: python
    plan: starter    # choisis le plan
    region: oregon   # adapte
    buildCommand: "pip install -r requirements.txt"
    startCommand: "gunicorn -w 3 -k gthread -b 0.0.0.0:$PORT app:app"
    autoDeploy: true
    healthCheckPath: "/healthz"
    envVars:
      - key: SECRET_KEY
        generateValue: true
      - key: DATABASE_URL
        fromDatabase:
          name: forum-db
          property: connectionString
      - key: OPENAI_API_KEY
        sync: false # à définir manuellement dans Render
      - key: IMG_DIR
        value: static/img
      - key: IMAGE_PRINCIPALE
        value: image_principale_ent.jpeg

databases:
  - name: forum-db
    plan: Basic-256mb
